/* Общее */
.vertical-text-active {
  color: white;
}

.vertical-text-inactive {
  color: rgba(255,255,255,0.25);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


/* Мобильная версия */
.container-mobile {
  height: 3500px;
  position: relative;
}

.mobile-horizontal-scroll {
  width: 100vw;
  height: 10vh;
  position: relative;
  top: 10px;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mobile-horizontal-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.mobile-scroll-content {
  display: flex;
  align-items: center;
  padding-left: 3vw;
  gap: 20px;
  font-family: 'NauryzRedKeds';
}

.mobile-scroll-text {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}

.mobile-content-section {
  padding: 0.5rem;
  color: white;
}

.video-container-mobile {
  width: 390px;
  height: 280px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 0 auto;
  border-radius: 32px;
  margin-top: 50px;
}

.video-container-mobile video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-description {
  font-size: 1rem;
  text-align: left;
  line-height: 1.2;
  font-family: 'g';
  width: 100%;
  max-width: 340px;
  padding: 1rem 0.5rem;
}

.glow-title-about-mobile {
  font-size: 1.8rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  text-shadow:
    0 0 5px #d6f0ff,
    0 0 10px #cbefff,
    0 0 20px #5062a3;
  font-family: 'g';
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 500px;
}

/* Десктоп версия */
.container {
  height: 6500px;
  position: relative;
}

.sticky-section {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.scrolling-content {
  display: flex;
  flex-direction: row;
  transition: transform 0.2s linear;
  height: 100%;
}

.vertical-text-section-about {
  min-width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.vertical-text-container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 220px;
  font-family: 'NauryzRedKeds';
  margin-left: 0;
}

.vertical-text-about {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 85px;
  font-weight: bold;
  line-height: 1;
}

.content-section {
  min-width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0rem 2rem;
}

.glow-title-about {
  font-size: 2.8rem;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  text-shadow:
    0 0 5px #d6f0ff,
    0 0 10px #cbefff,
    0 0 20px #c2e7ff,
    0 0 40px #507ba3,
    0 0 40px #50326c;
  font-family: 'g';
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 500px;
}

.video-container {
  width: 850px;
  height: 550px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 100px;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: relative;
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.2;
  font-family: 'g';
  width: 100%;
  min-width: 670px;
  left: 10px;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .container {
    height: 5815px;
    position: relative;
  }

  .vertical-text-about {
    font-size: 80px;
  }

  .vertical-text-container-about {
    gap: 220px;
    margin-left: 30px;
  }
  .video-container {
    width: 750px;
    height: 450px;
  }
}


@media (min-width: 1600px) {
  .container {
    height: 5590px;
    position: relative;
  }

  .vertical-text-about {
    font-size: 75px;
  }

  .vertical-text-container-about {
    gap: 225px;
    margin-left: 0;
  }
}

@media (min-width: 1680px) {
  .container {
    height: 6320px;
    position: relative;
  }
  .vertical-text-about {
    font-size: 100px;
  }
  .vertical-text-container-about {
    gap: 255px;
    margin-left: -15px;
  }
  .video-container {
    width: 900px;
    height: 600px;
  }
}

@media (min-width: 1920px) {
  .container {
    height: 6420px;
    position: relative;
  }
  .vertical-text-about {
    font-size: 100px;
  }
  .vertical-text-container-about {
    gap: 270px;
    margin-left: -60px;
  }
}

@media (min-width: 2048px) {
  .vertical-text-about {
    font-size: 105px;
  }
  .vertical-text-container-about {
    gap: 280px;
    margin-left: -70px;
  }
  .video-container {
    width: 950px;
    height: 650px;
  }
}

@media (min-width: 2560px) {
  .vertical-text-about {
    font-size: 125px;
  }
  .vertical-text-container-about {
    gap: 350px;
    margin-left: -140px;
  }
  .video-container {
    width: 1100px;
    height: 750px;
  }
  .description {
    font-size: 1.7rem;
  }
}

@media (min-width: 3840px) {
  .vertical-text-about {
    font-size: 175px;
  }
  .vertical-text-container-about {
    gap: 500px;
    margin-left: -300px;
  }
  .video-container {
    width: 2000px;
    height: 1350px;
  }
  .description {
    font-size: 2.5rem;
  }
}

/* Блок 1 */

.about-info-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 28rem;
  color: white;
  gap: 15rem;
}

.info-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.info-column h5 {
  font-size: 2rem;
  margin: 0 0 0.5rem;
  text-align: center;
  white-space: nowrap;
  height: 3.5rem;
  font-family: 'g';
  font-weight: 600;
}

.align-title {
  font-size: 2rem;
  margin: 0 0 0.5rem;
  text-align: center;
  white-space: nowrap;
  height: 3.5rem;
  font-family: 'g';
  font-weight: 600;
  position: relative;
  right: 40px;
}

.info-block {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  min-height: 120px;
}

.info-block h4 {
  font-size: 1.3rem;
  margin: 0 0 0.1rem;
  text-align: left;
  width: 100%;
  min-width: 500px;
  font-family: 'g';
  font-weight: 600;
}

.info-block p {
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0;
  text-align: left;
  width: 100%;
  max-width: 500px;
  font-family: 'g';
  font-weight: 100;
}

.info-icon {
  width: 85px;
  height: 85px;
  flex-shrink: 0;
  margin-top: 0.8rem;
  filter: brightness(0) invert(1);
}

.question-line {
  font-size: 15rem;
  white-space: nowrap;
  margin-top: 44rem;
  margin-left: -60rem;
  font-family: 'NauryzRedKeds';
  color: rgba(255,255,255,0.25);
}

/* Блок 1 - мобилки*/

.mobile-about-info-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0rem 1rem;
  color: white;
  gap: 2rem;
}

.mobile-info-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-info-column h5 {
  font-size: 1.1rem;
  font-family: 'g';
  font-weight: 900;
  margin: 0 0 1rem;
  text-align: center;
}

.mobile-info-block {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-width: 320px;
}

.mobile-info-block h4 {
  font-size: 1rem;
  font-family: 'g';
  font-weight: 900;
  margin: 0 0 0.3rem;
}

.mobile-info-block p {
  font-size: 1rem;
  font-family: 'g';
  font-weight: 200;
  line-height: 1.2;
  margin: 0 auto;
}

.mobile-info-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
  margin-top: 0.6rem;
}

.mobile-question-column {
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'NauryzRedKeds';
  pointer-events: none;
}

.vertical-question {
  line-height: 4.5rem;
}

@media (max-width: 480px) {
  .mobile-question-column {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .about-info-section {
    padding: 2rem 16rem 0rem 28rem;
    gap: 4rem;
  }

  .info-column {
    gap: 0.1rem;
  }

  .info-column h5 {
    font-size: 1.6rem;
    margin: 0 0 0rem;
    margin-left: -100px;
  }

  .align-title {
    font-size: 1.6rem;
    right: 20px;
  }

  .info-block h4 {
    font-size: 1.2rem;
  }

  .info-block p {
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
  }

  .info-icon {
    width: 65px;
    height: 65px;
    margin-top: 0.8rem;
  }

  .question-line {
    font-size: 15rem;
    margin-top: 38rem;
  }
}


@media (min-width: 1600px) {
  .about-info-section {
    padding: 2rem 16rem 0rem 28rem;
    gap: 8rem;
  }

  .info-column {
    gap: 1rem;
  }

  .info-column h5 {
    font-size: 1.7rem;
    margin: 0 0 0.5rem;
  }

  .align-title {
    font-size: 1.6rem;
  }

  .info-block h4 {
    font-size: 1.3rem;
  }

  .info-block p {
    font-size: 1rem;
  }

  .info-icon {
    width: 65px;
    height: 65px;
    margin-top: 0.8rem;
  }

  .question-line {
    font-size: 15rem;
    margin-top: 40rem;
  }

}

@media (min-width: 1680px) {
  .about-info-section {
    padding: 2rem 15rem 0rem 28rem;
    gap: 8rem;
  }

  .info-column {
    gap: 1.5rem;
  }

  .info-column h5 {
    font-size: 1.7rem;
    margin: 0 0 0.5rem;
    margin-left: -100px;
  }

  .align-title {
    font-size: 1.7rem;
  }

  .info-block h4 {
    font-size: 1.2rem;
  }

  .info-block p {
    font-size: 1.1rem;
  }

  .info-icon {
    width: 70px;
    height: 70px;
    margin-top: 0.8rem;
  }

  .question-line {
    font-size: 15rem;
    margin-top: 44rem;
  }

}

@media (min-width: 1920px) {
  .about-info-section {
    padding: 2rem 15rem 0rem 28rem;
    gap: 10rem;
  }

  .info-column {
    gap: 1.5rem;
  }

  .info-column h5 {
    font-size: 1.7rem;
    margin: 0 0 0rem;
    margin-left: -100px;
  }

  .align-title {
    font-size: 1.7rem;
  }


  .info-block h4 {
    font-size: 1.2rem;
  }

  .info-block p {
    font-size: 1.1rem;
  }

  .info-icon {
    width: 75px;
    height: 75px;
    margin-top: 0.8rem;
  }

  .question-line {
    font-size: 15rem;
    margin-top: 43rem;
  }
}

@media (min-width: 2048px) {

}

@media (min-width: 2560px) {
  .about-info-section {
    padding: 4rem 28rem;
    gap: 20rem;
  }

  .info-column {
    gap: 3rem;
  }

  .info-column h5 {
    font-size: 2.5rem;
  }

  .align-title {
    font-size: 2.5rem;
  }


  .info-block h4 {
    font-size: 1.8rem;
  }

  .info-block p {
    font-size: 1.4rem;
    width: 100%;
    max-width: 600px;
  }

  .info-icon {
    width: 90px;
    height: 90px;
    margin-top: 0.8rem;
  }

  .question-line {
    font-size: 20rem;
    margin-top: 56rem;
  }
}

@media (min-width: 3840px) {
  .about-info-section {
    padding: 8rem 28rem;
    gap: 30rem;
  }

  .info-column {
    gap: 5rem;
  }

  .info-column h5 {
    font-size: 4rem;
  }

  .align-title {
    font-size: 4rem;
  }


  .info-block h4 {
    font-size: 3.1rem;
  }

  .info-block p {
    font-size: 2.2rem;
    width: 100%;
    min-width: 1000px;
  }

  .info-icon {
    width: 120px;
    height: 120px;
    margin-top: 0.8rem;
  }

  .question-line {
    font-size: 25rem;
    margin-top: 85rem;
  }
}

/* Блок 2 */

.vertical-text-container-reviews-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 480px;
  font-family: 'NauryzRedKeds';
  width: 10vw;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 0rem;
  color: white;
  margin-left: -115rem;
}

.review-card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: 'g';
  width: 100%;
  min-width: 600px;
}

.review-header-block {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.quote-icon {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
  margin-top: 0.4rem;
}

.review-header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 30px;
}

.review-name {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0;
}

.review-role {
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.5;
  margin: 0;
}

.review-body {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
  max-width: 800px;
}

.review-site {
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
  text-decoration: underline;
}

/* Блок 2 - мобилки */

.mobile-scroll-content-reviews {
  display: flex;
  align-items: center;
  padding-left: 10rem;
  gap: 20px;
  font-family: 'NauryzRedKeds';
}

.mobile-horizontal-scroll-reviews {
  position: relative;
  top: 50px;
}

.mobile-reviews-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem 1rem;
  color: white;
}

.mobile-review-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'g';
}

.mobile-review-header-block {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.mobile-quote-icon {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
  margin-top: 0.6rem;
}

.mobile-review-header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.2rem;
}

.mobile-review-name {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
}

.mobile-review-role {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  margin: 0;
}

.mobile-review-body {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
}

.mobile-review-site {
  font-size: 1rem;
  font-weight: 800;
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .vertical-text-container-reviews-about {
    gap: 370px;
    padding: 55rem 6rem;  
  }

  .reviews-section {
    gap: 5rem;
    padding: 3rem 0rem;
    margin-left: -115rem;
  }

  .review-card {
    width: 100%;
    min-width: 600px;
  }

  .review-header-block {
    gap: 1.2rem;
  }

  .quote-icon {
    width: 95px;
    height: 95px;
    margin-top: 0.4rem;
  }

  .review-header {
    gap: 0.2rem;
    margin-top: 30px;
  }

  .review-name {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
  }

  .review-role {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .review-body {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
    max-width: 800px;
  }

  .review-site {
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
    text-decoration: none;
    margin-top: 0.5rem;
    text-decoration: underline;
  }
}


@media (min-width: 1600px) {
  .vertical-text-container-reviews-about {
    gap: 370px;
    padding: 65rem 0rem; 
  }

  .reviews-section {
    gap: 4rem;
    padding: 3rem 0rem;
    margin-left: -115rem;
  }
}

@media (min-width: 1680px) {
  .vertical-text-container-reviews-about {
    gap: 480px;
    padding: 33rem 6rem;  
  }

  .reviews-section {
    gap: 4rem;
    padding: 6rem 0rem;
    margin-left: -115rem;
  }
}

@media (min-width: 1920px) {
  .vertical-text-container-reviews-about {
    gap: 480px;
    padding: 37rem 6rem;  
  }

  .reviews-section {
    gap: 5rem;
    padding: 5rem 0rem;
    margin-left: -115rem;
  }
}

@media (min-width: 2048px) {

}

@media (min-width: 2560px) {
  .vertical-text-container-reviews-about {
    gap: 600px;
    padding: 10rem 6rem;  
  }

  .reviews-section {
    gap: 5rem;
    padding: 5rem 0rem;
    margin-left: -115rem;
  }
}

@media (min-width: 3840px) {
  .vertical-text-container-reviews-about {
    gap: 800px;
    padding: 10rem 6rem;  
  }

  .reviews-section {
    gap: 5rem;
    padding: 5rem 0rem;
    margin-left: -115rem;
  }
}


/* Блок 3 */

.vertical-text-container-price-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 250px;
  font-family: 'NauryzRedKeds';
  margin-left: 0;
  width: 10vw;
}

.block-3-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 4rem 4rem;
  font-family: 'g';
}

.block-3-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.glow-title {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  text-shadow:
    0 0 5px #d6f0ff,
    0 0 10px #cbefff,
    0 0 20px #c2e7ff,
    0 0 40px #507ba3,
    0 0 40px #50326c;
  font-family: 'g';
  letter-spacing: 0.02em;
  padding: 2rem 1rem;
  width: 100%;
  min-width: 750px;
}

.content-wrapper {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.block-3-paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  width: 100%;
  min-width: 600px;
}

.block-3-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -1.1rem;
}

.block-3-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.block-3-ul {
  list-style-type: '·  ';
  padding-left: 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.5;
  width: 100%;
  min-width: 400px;
}

.mobile-scroll-content-price {
  display: flex;
  align-items: center;
  padding-left: 128rem;
  gap: 20px;
  font-family: 'NauryzRedKeds';
}

.mobile-horizontal-scroll-price {
  position: relative;
  top: -50px;
}

.mobile-block-3 {
  padding: 3rem 1.5rem;
  color: #fff;
  font-family: 'g';
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -100px;
}

.mobile-glow-title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 5px #d6f0ff,
    0 0 10px #cbefff,
    0 0 20px #c2e7ff,
    0 0 20px #507ba3;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.mobile-text-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.mobile-block-3-paragraph {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
}

.mobile-block-3-list {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.mobile-block-3-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.mobile-block-3-ul {
  list-style-type: '·  ';
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .vertical-text-container-price-about {
    gap: 200px;
    padding: 41.5rem 7rem;
  }

  .block-3-content {
    max-width: 800px;
    padding: 1rem 1rem;
  }

  .block-3-text {
    margin-bottom: 2rem;
  }

  .glow-title {
    font-size: 3rem;
    padding: 2rem 1rem;
    width: 100%;
    min-width: 750px;
  }

  .content-wrapper {
    gap: 3rem;
  }

  .text-content {
    gap: 3rem;
  }

  .block-3-paragraph {
    font-size: 1.2rem;
    width: 100%;
    min-width: 500px;
  }

  .block-3-list {
    gap: 0.5rem;
    margin-top: -1.1rem;
  }

  .block-3-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .block-3-ul {
    list-style-type: '·  ';
    padding-left: 1.2rem;
    font-size: 1.2rem;
    gap: 0.5rem;
    line-height: 1.2;
    width: 100%;
    min-width: 300px;
  }
}
@media (min-width: 1600px) {
  .vertical-text-container-price-about {
    gap: 200px;
    padding: 41rem 0rem;
  }

  .block-3-content {
    max-width: 800px;
    padding: 1rem 4rem;
  }

  .block-3-text {
    margin-bottom: 2rem;
  }

  .glow-title {
    font-size: 3rem;
    padding: 2rem 1rem;
    width: 100%;
    min-width: 750px;
  }

  .content-wrapper {
    gap: 3rem;
  }

  .text-content {
    gap: 3rem;
  }

  .block-3-paragraph {
    font-size: 1.3rem;
    width: 100%;
    min-width: 500px;
  }

  .block-3-list {
    gap: 0.5rem;
    margin-top: -1.1rem;
  }

  .block-3-subtitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .block-3-ul {
    list-style-type: '·  ';
    padding-left: 1.2rem;
    font-size: 1.3rem;
    gap: 0.5rem;
    line-height: 1.2;
    width: 100%;
    min-width: 300px;
  }
}

@media (min-width: 1680px) {
  .vertical-text-container-price-about {
    gap: 220px;
    padding: 36rem 6rem;
  }

  .block-3-content {
    max-width: 800px;
    padding: 1rem 4rem;
  }

  .block-3-text {
    margin-bottom: 2rem;
  }

  .glow-title {
    font-size: 3rem;
    padding: 2rem 1rem;
    width: 100%;
    min-width: 750px;
  }

  .content-wrapper {
    gap: 4rem;
  }

  .text-content {
    gap: 3rem;
  }

  .block-3-paragraph {
    font-size: 1.3rem;
    width: 100%;
    min-width: 500px;
  }

  .block-3-list {
    gap: 0.5rem;
    margin-top: -1.1rem;
  }

  .block-3-subtitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .block-3-ul {
    list-style-type: '·  ';
    padding-left: 1.2rem;
    font-size: 1.3rem;
    gap: 0.5rem;
    line-height: 1.2;
    width: 100%;
    min-width: 300px;
  }

}

@media (min-width: 1920px) {
  .vertical-text-container-price-about {
    gap: 220px;
    padding: 43rem 8rem;
  }

  .block-3-content {
    max-width: 800px;
    padding: 1rem 4rem;
  }

  .block-3-text {
    margin-bottom: 2rem;
  }

  .glow-title {
    font-size: 3rem;
    padding: 2rem 1rem;
    width: 100%;
    min-width: 750px;
  }

  .content-wrapper {
    gap: 4rem;
  }

  .text-content {
    gap: 3rem;
  }

  .block-3-paragraph {
    font-size: 1.3rem;
    width: 100%;
    min-width: 500px;
  }

  .block-3-list {
    gap: 0.5rem;
    margin-top: -1.1rem;
  }

  .block-3-subtitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .block-3-ul {
    list-style-type: '·  ';
    padding-left: 1.2rem;
    font-size: 1.3rem;
    gap: 0.5rem;
    line-height: 1.2;
    width: 100%;
    min-width: 300px;
  }
}

@media (min-width: 2048px) {

}

@media (min-width: 2560px) {

}

@media (min-width: 3840px) {

}


/* Блок 4 */

.vertical-text-container-order-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 700px;
  font-family: 'NauryzRedKeds';
  margin-left: 0;
  width: 10vw;
}

.vertical-text-order-about {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 85px;
  font-weight: bold;
  line-height: 1;
}

.telegram-contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  color: white;
  margin-top: -50px;
}

.telegram-contact-content {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.telegram-text-block {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.telegram-text-top {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  font-family: 'g';
  line-height: 1;
}

.telegram-text-bottom {
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
  font-family: 'g';
  line-height: 1;
}

.telegram-icons-line {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
}

.telegram-icon {
  width: 200px;
  height: 200px;
  filter: brightness(0) invert(1);
}

.telegram-description {
  font-size: 1.8rem;
  font-family: 'g';
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  max-width: 900px;
}

.where-site-block {
  background: white;
  transform: rotate(-90deg);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100vw;
  margin-left: -40rem;
}

.where-site-text {
  font-size: 4.5rem;
  font-weight: 900;
  font-family: "NauryzRedKeds";
  white-space: nowrap;
  margin: 0 auto;
}

.where-site-subtext {
  font-size: 4rem;
  font-weight: 900;
  font-family: 'g';
  margin-top: 0.5rem;
  white-space: nowrap;
}

.mobile-scroll-content-order {
  display: flex;
  align-items: center;
  padding-left: 120rem;
  gap: 20px;
  font-family: 'NauryzRedKeds';
}

.mobile-horizontal-scroll-order {
  position: relative;
  top: 0;
}

.mobile-scroll-text-order {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}

.mobile-telegram-contact-section {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'g';
  gap: 1rem;
}

.mobile-telegram-contact-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem  1.5rem 0rem 1.5rem;
}

.mobile-telegram-text-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-telegram-text-top {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.mobile-telegram-text-bottom {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.mobile-telegram-icons-line {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.mobile-telegram-icon {
  width: 100px;
  height: 100px;
  filter: brightness(0) invert(1);
}

.mobile-telegram-description {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.mobile-where-site-block {
  background: white;
  color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 100vw;
  margin-top: 1rem;
}

.mobile-where-site-text {
  font-size: 2rem;
  font-weight: 900;
  font-family: "NauryzRedKeds";
  text-align: center;
}

.mobile-where-site-subtext {
  font-size: 1.6rem;
  font-weight: 900;
  font-family: 'g';
  margin-top: 0.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .vertical-text-container-order-about {
  gap: 690px;
  padding: 11rem 3rem;
}

.vertical-text-order-about {
  font-size: 80px;
}

.telegram-contact-section {
  padding: 1rem 9rem;
  margin-top: -50px;
}

.telegram-contact-content {
  gap: 7rem;
}

.telegram-text-block {
  gap: 2.5rem;
}

.telegram-text-top {
  font-size: 2rem;
}

.telegram-text-bottom {
  font-size: 2rem;
}

.telegram-icons-line {
  gap: 0.5rem;
}

.telegram-icon {
  width: 180px;
  height: 180px;
}

.telegram-description {
  font-size: 1.5rem;
  line-height: 1.4;
  width: 100%;
  max-width: 700px;
}

.where-site-block {
  height: 220px;
  width: 100vw;
  margin-left: -38rem;
}

.where-site-text {
  font-size: 4rem;
}

.where-site-subtext {
  font-size: 4rem;
  margin-top: 0rem;
}
}

@media (min-width: 1600px) {
  .vertical-text-container-order-about {
  gap: 690px;
  padding: 0rem 0rem;
}

.vertical-text-order-about {
  font-size: 75px;
}

.telegram-contact-section {
  padding: 1rem 10rem;
  margin-top: -50px;
}

.telegram-contact-content {
  gap: 7rem;
}

.telegram-text-block {
  gap: 2.5rem;
}

.telegram-text-top {
  font-size: 2.5rem;
}

.telegram-text-bottom {
  font-size: 2rem;
}

.telegram-icons-line {
  gap: 0.5rem;
}

.telegram-icon {
  width: 180px;
  height: 180px;
}

.telegram-description {
  font-size: 1.8rem;
  line-height: 1.4;
  width: 100%;
  max-width: 700px;
}

.where-site-block {
  height: 220px;
  width: 100vw;
  margin-left: -37rem;
}

.where-site-text {
  font-size: 4rem;
}

.where-site-subtext {
  font-size: 4rem;
  margin-top: 0rem;
}
}

@media (min-width: 1680px) {
  .vertical-text-container-order-about {
  gap: 690px;
  padding: 46rem 3rem;
}

.vertical-text-order-about {
  font-size: 80px;
}

.telegram-contact-section {
  padding: 1rem 10rem;
  margin-top: -50px;
}

.telegram-contact-content {
  gap: 7rem;
}

.telegram-text-block {
  gap: 2.5rem;
}

.telegram-text-top {
  font-size: 2rem;
}

.telegram-text-bottom {
  font-size: 2rem;
}

.telegram-icons-line {
  gap: 0.5rem;
}

.telegram-icon {
  width: 180px;
  height: 180px;
}

.telegram-description {
  font-size: 1.5rem;
  line-height: 1.4;
  width: 100%;
  max-width: 600px;
}

.where-site-block {
  height: 220px;
  width: 100vw;
  margin-left: -37rem;
}

.where-site-text {
  font-size: 4rem;
}

.where-site-subtext {
  font-size: 4rem;
  margin-top: 0rem;
}
}

@media (min-width: 1920px) {
  .vertical-text-container-order-about {
  gap: 690px;
  padding: 54rem 4rem;
}

.vertical-text-order-about {
  font-size: 80px;
}

.telegram-contact-section {
  padding: 1rem 10rem;
  margin-top: -50px;
}

.telegram-contact-content {
  gap: 7rem;
}

.telegram-text-block {
  gap: 2rem;
}

.telegram-text-top {
  font-size: 2rem;
}

.telegram-text-bottom {
  font-size: 2rem;
}

.telegram-icons-line {
  gap: 0.5rem;
}

.telegram-icon {
  width: 180px;
  height: 180px;
}

.telegram-description {
  font-size: 1.5rem;
  line-height: 1.4;
  width: 100%;
  max-width: 700px;
}

.where-site-block {
  height: 220px;
  width: 100vw;
  margin-left: -37rem;
}

.where-site-text {
  font-size: 4rem;
}

.where-site-subtext {
  font-size: 4rem;
  margin-top: 0rem;
}
}

@media (min-width: 2048px) {
  .vertical-text-container-order-about {
  gap: 690px;
  padding: 3rem 0rem;
}

.vertical-text-order-about {
  font-size: 80px;
}

.telegram-contact-section {
  padding: 1rem 10rem;
  margin-top: -50px;
}

.telegram-contact-content {
  gap: 7rem;
}

.telegram-text-block {
  gap: 2.5rem;
}

.telegram-text-top {
  font-size: 2.5rem;
}

.telegram-text-bottom {
  font-size: 2rem;
}

.telegram-icons-line {
  gap: 0.5rem;
}

.telegram-icon {
  width: 180px;
  height: 180px;
}

.telegram-description {
  font-size: 1.8rem;
  line-height: 1.4;
  width: 100%;
  max-width: 700px;
}

.where-site-block {
  height: 220px;
  width: 100vw;
  margin-left: -37rem;
}

.where-site-text {
  font-size: 4rem;
}

.where-site-subtext {
  font-size: 4rem;
  margin-top: 0rem;
}
}

@media (min-width: 2560px) {
  .vertical-text-container-order-about {
  gap: 690px;
  padding: 3rem 0rem;
}

.vertical-text-order-about {
  font-size: 80px;
}

.telegram-contact-section {
  padding: 1rem 10rem;
  margin-top: -50px;
}

.telegram-contact-content {
  gap: 7rem;
}

.telegram-text-block {
  gap: 2.5rem;
}

.telegram-text-top {
  font-size: 2.5rem;
}

.telegram-text-bottom {
  font-size: 2rem;
}

.telegram-icons-line {
  gap: 0.5rem;
}

.telegram-icon {
  width: 180px;
  height: 180px;
}

.telegram-description {
  font-size: 1.8rem;
  line-height: 1.4;
  width: 100%;
  max-width: 700px;
}

.where-site-block {
  height: 220px;
  width: 100vw;
  margin-left: -37rem;
}

.where-site-text {
  font-size: 4rem;
}

.where-site-subtext {
  font-size: 4rem;
  margin-top: 0rem;
}
}